@import "tailwindcss";

@theme {
  --color-brand-primary: #8da787;
  --color-brand-dark: #556b4f;
  --color-brand-accent: #e5d5bc;
  --color-brand-light: #f4f1ea;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply antialiased;
  background-color: #f8fafc;
}